.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }
  
  .image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 50%;
  }
  
  .login, .register {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
  }

  img{
    cursor: pointer;
  }

